<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~
  ~ Copyright (c) 2018-2025, Nanjing Zhengebang Software Corp.,Ltd All rights reserved.
  ~
  ~ Redistribution and use in source and binary forms, with or without
  ~ modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~ this list of conditions and the following disclaimer.
  ~ Redistributions in binary form must reproduce the above copyright
  ~ notice, this list of conditions and the following disclaimer in the
  ~ documentation and/or other materials provided with the distribution.
  ~ Neither the name of the pig4cloud.com developer nor the names of its
  ~ contributors may be used to endorse or promote products derived from
  ~ this software without specific prior written permission.
  ~ Author: lsyzx (zhux@zhengebang.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zgb.test.sys.mapper.SysRoleUserMapper">
<resultMap id="sysRoleUserMap" type="com.zgb.test.sys.entity.SysRoleUser">
  <id property="roleUserId" column="role_user_id"/>
  <result property="roleId" column="role_id"/>
  <result property="userId" column="user_id"/>
  <result property="isDel" column="is_del"/>
  <result property="createTime" column="create_time"/>
</resultMap>
<insert id="batchInsert">
  INSERT INTO zgb_sys_role_user (role_user_id,role_id,user_id,is_del,create_time) VALUES
  <foreach collection="list" item="cost" index="index" separator=",">
    (#{cost.roleUserId},
    #{cost.roleId},
    #{cost.userId},
    #{cost.isDel},
    #{cost.createTime})
  </foreach>
</insert>
<select id="getRoleIdsByUserId" resultType="java.lang.Long">
        select t.role_id from zgb_sys_role_user t join zgb_sys_role t2 on(t.role_id=t2.role_id)
        where t.user_id=#{userId} and t.is_del=0 and t2.is_del=0
    </select>
</mapper>